
ul,
li {
  list-style: none;
}

.hover-action {
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
}

.hover-action:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translate(0, -4px);
  transform: translate(0, -4px);
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .12);
}

.gnav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
}

.gnav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gnav-item {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  padding: 0 24px;
  letter-spacing: .05em;
}

.gnav-link {
  position: relative;
  display: inline-block;
  padding: 20px 0;
  -webkit-transition: .3s;
  transition: .3s;
  color: #333;
}

.gnav-link:hover {
  opacity: 1;
}

.gnav-link:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #333;
}

.gnav-link:hover:after {
  width: 100%;
}

/* iOS対策 */
.ios .gnav-link:after,
.ios .gnav-link:hover:after {
  display: none;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  .gnav {
    padding: 15px 0;
  }

  .gnav-item {
    font-size: 14px;
    padding: 2px 15px;
  }

  .gnav-link {
    padding: 0;
  }

  .gnav-link:hover {
    opacity: 1;
  }

  .gnav-link:after {
    display: none;
  }
}
