<%# CSS・・・assets/stylesheets/shared/header.css %>
<nav class="gnav" class="fixed">
      <ul class="gnav-list">
        <li class="gnav-item">
          <%=link_to 'SIGN UP',new_user_registration_path, class: 'gnav-item gnav-link'%>
        </li>
        <li class="gnav-item">
          <%=link_to 'LOGIN',new_user_session_path, class: 'gnav-link'%>
        </li>
        <li class="gnav-item">
          <%=link_to 'LOGOUT',destroy_user_session_path, class: 'gnav-item gnav-link'%>
        </li>
        <li class="gnav-item"><a class="gnav-link" href="#">MY PAGE</a></li>
        <li class="gnav-item"><a class="gnav-link" href="#">BOOK LOG</a></li>
        <li class="gnav-item"><a class="gnav-link" href="#">READING</a></li>
      </ul>
    </nav>

