<%= render 'shared/header'%>

<div class="book-new" >
<% @books.each do |book| %>
  <% if current_user.id == book.user_id %>
    <div class="reading-book">
      <div class="reading-book-image">
        <%=image_tag  book.image_url %>
      </div>
        <div class="reading-book-item title-font">
          <%= book.title%>
        </div>
        <div class="book-item author-font">
          <%= book.author%>
        </div>
    </div>
  <% end %>
<% end %>
</div>
     