/* Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* body */
body {
  background: #e9e9e9;
  color: #5e5e5e;
  font-family: 'Open Sans', sans-serif;
}

/* Form Layout */
.form-wrapper {
  background: #fafafa;
  margin: 100px auto;
  padding: 0 10px;
  max-width: 450px;
}

.login-flash-message {
    padding-top: 10px;
    font-size: 15px;
    color:#A67F5D;
    text-align: center;
}

.form-item {
  padding-top: 15px;
  margin-bottom: 12px;
  width: 100%;
}

.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.form-item textarea { 
  padding-top: 15px;
  margin-bottom: 12px;
  width: 100%;
}

.form-item textarea {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
  resize: none;
}

.form-item textarea:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.button-panel {
  margin: 2em 0 0;
  width: 100%;
}

.button-panel .button {
  background:  #5da67f;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.button:hover {
  opacity: 0.8;
}

.form-footer {
  font-size: 20px;
  padding: 2em 0;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
} 